/*body{*/
  /*background-color: lightblue;
}
.btn{
  background-color: blue;
}*/



.row{
    height: 730px;
    border: 6px;
    border-color: black;
    text-align: center;
}


/* This is how I styled the borders */

/*.border-row {
  border: solid black 1px;
  border-right: solid black 1px;
  border-left: solid black 1px;
}*/



#row-five{
  background-color: aqua;
  float: center;
}
#row-six{
  background-color: yellow;
  float: center;
}

#row-seven{
  background-color: white;
}

body{
  background-color: #b3b6bc;
  font-family: Arial;
}

.wrap{
  width: 900px;
  margin: auto;
}

main{
  padding: 5px;
  display: inline-block;
}

main img{
  margin-bottom: 100px;

}

aside{
  display: inline-block;
  text-align: center;
  width: 400px;
}

.right{
  padding: 5px;
}

.form{
  border: 1px #e6e6e6 solid;
  background-color: white;
  text-align: center;
  color: #999999;
  padding: 30px;
}

button{
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  padding: 10px;
  max-width: 100%;
  width: 300px;
  color: white;

}

.divider{
  width: 300px;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.seperate hr{
  width: 40%
}

.left{
  float: left;
}

.right2{
  float: right;
}

#difference{
  font-weight: bold;
}

.login{
  border: 1px e6e6e6 solid;
  background-color: white;
  margin-top: 10px;
}

#logincolor{
  color: #3896f1;
}

li{
  display: inline-block;
  text-transform: uppercase;
  padding: 5px;
  margin: 0px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;

}

a, a:visited{
  color: #003569;
  text-decoration: none;
}

#copyright{
  float: right;
  color: #999999
}
